:root {
    --color-rojo: #ff1616;
    --color-gris-neutro: #666;
    --color-gris-claro: #ddd;
    --color-negro: #000000;
    --color-blanco: #ffffff;
    --color-fondo-claro: #f0f0f0;
}

/* Menu */
body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    background-color: var(--color-blanco);
    overflow-x: hidden;
}

header {
    background-color: var(--color-negro);
    text-align: center;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header img {
    width: 80px;
}

nav {
    text-align: center;
    margin-top: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

nav ul li {
    display: block;
}

nav ul li a {
    color: var(--color-blanco);
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    display: block;
    padding: 10px 15px;
}

nav ul li a:hover {
    color: var(--color-rojo);
}

.activo {
    font-weight: bold;
    font-style: italic;
}

/* Footer */
footer {
    background-color: var(--color-negro);
    text-align: center;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer p {
    margin: 5;
    font-size: 14px;
    color: var(--color-blanco);
}

/* Containner Main */
main {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

main img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
}

main iframe {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
}

main h1 {
    font-size: 32px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
    font-family: Georgia;
}

main section p {
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}

.AutorArticulo {
    color: var(--color-rojo);
    font-size: 14px;
    font-weight: normal;
}

.AutorFoto {
    font-size: 12px;
    color: var(--color-gris-neutro);
    text-align: end;
}

.AutorFoto span {
    font-style: italic;
    color: var(--color-rojo);
}

p span {
    color: var(--color-rojo);
}

.cita {
    background-color: var(--color-gris-claro);
    padding: 10px;
    font-size: 14px;
    font-style: italic;
    color: var(--color-gris-neutro);
    text-align: center;
}

.cita span {
    color: var(--color-rojo);
    text-decoration: none;
}

.autor-container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

.imgDesiree {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.tiposRobotContainer {
    width: 40%;
    max-width: 1200px;
    margin: 0 auto;
}

/*Pantalla tipos-de-robots.html */
.textCenter {
    text-align: center;
}

.card {
    border-left: 5px solid var(--color-rojo);
    padding: 10px;
    color: var(--color-gris-neutro);
    background-color: var(--color-fondo-claro);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.author {
    font-style: italic;
    color: var(--color-gris-neutro);
}

.lista-personalizada {
    list-style-image: url("./../img/icon-robot.png");
}

.lista-personalizada ul {
    list-style: square;
}

.lista-personalizada ul>li ul {
    list-style: disc;
}

/*Pantalla robots-de-ficcion.html*/
.authorCenter{
    text-align: center;
    color: var(--color-rojo);
}